# {CONFIG}: copy contents into a new .env and update with your values

# ANALYTICS 
# Pre configured using umami, free and have everything you need
# To change I would suggest using supported nuxt/scripts providers https://scripts.nuxt.com/scripts
# Then you will need to update the code here: app/middleware/
NUXT_PUBLIC_SCRIPTS_UMAMI_ANALYTICS_SCRIPT_INPUT_SRC="https://your-umami-instance.com/script.js"
NUXT_PUBLIC_SCRIPTS_UMAMI_ANALYTICS_WEBSITE_ID="website_id"
# Footer link to your analytics for quick access
NUXT_PUBLIC_ANALYTICS_LINK="share_link_from_analytics_provider"

# CONFIG
NUXT_PUBLIC_CONFIG_SOURCE="validator || custom"
NUXT_PUBLIC_VALIDATION_STAGE="identity || attention || traffic || conversion || engagement || demand"

# HOSTING
PROVIDER="node_server" # Default - choose provider https://nuxt.com/deploy
PORT=3000
HOST=0.0.0.0

# STORAGE / DATA PIPE
NUXT_STORAGE_PROVIDER="kv || nocodb || n8n"
NUXT_STORAGE_URL=""
NUXT_STORAGE_SECRET=""

# STUDIO SETUP - https://content.nuxt.com/docs/studio/setup
STUDIO_GITHUB_CLIENT_ID="your_github_client_id"
STUDIO_GITHUB_CLIENT_SECRET="your_github_client_secret"
STUDIO_GITHUB_BRANCH_NAME="develop || staging || main"