/* assets/css/tokens/typography.css */
@import 'tailwindcss';

@theme static {
  /* Spacing for leading-<number> utilities */
  --spacing: 0.25rem;

  /* Font families */
  --font-sans: 'Orbitron', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-serif: 'Georgia', serif;

  --font-family-heading: 'Orbitron', sans-serif;
  --font-family-written: 'Fuzzy Bubbles', sans-serif;
  --font-family-body: 'Georgia', serif;
  --font-family-code: 'JetBrains Mono', monospace;

  /* CUSTOM FONT VARS */

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
  }

  body {
    font-family: var(--font-family-body);
  }

  code,
  pre {
    font-family: var(--font-family-code);
  }
}

@layer utilities {
  .font-written {
    font-family: var(--font-family-written) !important;
  }

  .font-heading {
    font-family: var(--font-family-heading) !important;
  }

  .font-code {
    font-family: var(--font-family-code) !important;
  }
}
