/* assets/css/main.css */
@import 'tailwindcss';

@import './tokens/colors.css';

@import './tokens/typography.css';
@import "./tokens/layout.css";

@layer base {
  * {
    border-color: var(--ui-border);
  }
}

@source "../../../content/**/*";

@import '@nuxt/ui';
